/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/* line 17, ../scss/_main.scss */
html,
button,
input,
select,
textarea {
  color: #222; }

/* line 21, ../scss/_main.scss */
body {
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
/* line 32, ../scss/_main.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

/* line 37, ../scss/_main.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
/* line 46, ../scss/_main.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
/* line 63, ../scss/_main.scss */
audio,
canvas,
img,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
/* line 71, ../scss/_main.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
/* line 81, ../scss/_main.scss */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */
/* line 89, ../scss/_main.scss */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
/* line 124, ../scss/_main.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

/* line 132, ../scss/_main.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
/* line 143, ../scss/_main.scss */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
/* line 152, ../scss/_main.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
/* line 169, ../scss/_main.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screenreaders, but maintain layout
 */
/* line 182, ../scss/_main.scss */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
/* line 199, ../scss/_main.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

/* line 204, ../scss/_main.scss */
.clearfix:after {
  clear: both; }

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
/* line 213, ../scss/_main.scss */
.clearfix {
  *zoom: 1; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  /* line 240, ../scss/_main.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  /* line 248, ../scss/_main.scss */
  a,
  a:visited {
    text-decoration: underline; }

  /* line 252, ../scss/_main.scss */
  a[href]:after {
    content: " (" attr(href) ")"; }

  /* line 256, ../scss/_main.scss */
  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links for images, or javascript/internal links
   */
  /* line 266, ../scss/_main.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  /* line 271, ../scss/_main.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  /* line 276, ../scss/_main.scss */
  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  /* line 281, ../scss/_main.scss */
  tr,
  img {
    page-break-inside: avoid; }

  /* line 285, ../scss/_main.scss */
  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  /* line 295, ../scss/_main.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  /* line 301, ../scss/_main.scss */
  h2,
  h3 {
    page-break-after: avoid; } }
/* normalize.css v1.1.2 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
/* line 22, ../scss/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
/* line 32, ../scss/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 43, ../scss/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
/* line 53, ../scss/_normalize.scss */
[hidden] {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 68, ../scss/_normalize.scss */
html {
  font-size: 100%;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Address `font-family` inconsistency between `textarea` and other form
 * elements.
 */
/* line 83, ../scss/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

/**
 * Address margins handled incorrectly in IE 6/7.
 */
/* line 91, ../scss/_normalize.scss */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
/* line 103, ../scss/_normalize.scss */
a:focus {
  outline: thin dotted; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 112, ../scss/_normalize.scss */
a:active,
a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address font sizes and margins set differently in IE 6/7.
 * Address font sizes within `section` and `article` in Firefox 4+, Safari 5,
 * and Chrome.
 */
/* line 126, ../scss/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* line 131, ../scss/_normalize.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

/* line 136, ../scss/_normalize.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0; }

/* line 141, ../scss/_normalize.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0; }

/* line 146, ../scss/_normalize.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

/* line 151, ../scss/_normalize.scss */
h6 {
  font-size: 0.67em;
  margin: 2.33em 0; }

/**
 * Address styling not present in IE 7/8/9, Safari 5, and Chrome.
 */
/* line 160, ../scss/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 3+, Safari 4/5, and Chrome.
 */
/* line 169, ../scss/_normalize.scss */
b,
strong {
  font-weight: bold; }

/* line 173, ../scss/_normalize.scss */
blockquote {
  margin: 1em 40px; }

/**
 * Address styling not present in Safari 5 and Chrome.
 */
/* line 181, ../scss/_normalize.scss */
dfn {
  font-style: italic; }

/**
 * Address differences between Firefox and other browsers.
 * Known issue: no IE 6/7 normalization.
 */
/* line 190, ../scss/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Address styling not present in IE 6/7/8/9.
 */
/* line 200, ../scss/_normalize.scss */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address margins set differently in IE 6/7.
 */
/* line 210, ../scss/_normalize.scss */
p,
pre {
  margin: 1em 0; }

/**
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
/* line 221, ../scss/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

/**
 * Improve readability of pre-formatted text in all browsers.
 */
/* line 231, ../scss/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/**
 * Address CSS quotes not supported in IE 6/7.
 */
/* line 241, ../scss/_normalize.scss */
q {
  quotes: none; }

/**
 * Address `quotes` property not supported in Safari 4.
 */
/* line 250, ../scss/_normalize.scss */
q:before,
q:after {
  content: '';
  content: none; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 259, ../scss/_normalize.scss */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 268, ../scss/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 275, ../scss/_normalize.scss */
sup {
  top: -0.5em; }

/* line 279, ../scss/_normalize.scss */
sub {
  bottom: -0.25em; }

/* ==========================================================================
   Lists
   ========================================================================== */
/**
 * Address margins set differently in IE 6/7.
 */
/* line 294, ../scss/_normalize.scss */
dl,
menu,
ol,
ul {
  margin: 1em 0; }

/* line 298, ../scss/_normalize.scss */
dd {
  margin: 0 0 0 40px; }

/**
 * Address paddings set differently in IE 6/7.
 */
/* line 308, ../scss/_normalize.scss */
menu,
ol,
ul {
  padding: 0 0 0 40px; }

/**
 * Correct list images handled incorrectly in IE 7.
 */
/* line 317, ../scss/_normalize.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
/* line 331, ../scss/_normalize.scss */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

/**
 * Correct overflow displayed oddly in IE 9.
 */
/* line 340, ../scss/_normalize.scss */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
/* line 352, ../scss/_normalize.scss */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Correct margin displayed oddly in IE 6/7.
 */
/* line 364, ../scss/_normalize.scss */
form {
  margin: 0; }

/**
 * Define consistent border, margin, and padding.
 */
/* line 372, ../scss/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
/* line 384, ../scss/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
/* line 401, ../scss/_normalize.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 414, ../scss/_normalize.scss */
button,
input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
/* line 426, ../scss/_normalize.scss */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
/* line 443, ../scss/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */ }

/**
 * Re-set default cursor for disabled elements.
 */
/* line 454, ../scss/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
/* line 466, ../scss/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 479, ../scss/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
/* line 492, ../scss/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 3+.
 */
/* line 501, ../scss/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
/* line 511, ../scss/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 524, ../scss/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
 * Bootstrap v2.3.2
 *
 * Copyright 2012 Twitter, Inc
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Designed and built with all the love in the world @twitter by @mdo and @fat.
 */
/* line 10, ../scss/_bootstrap.min.scss */
.clearfix {
  *zoom: 1; }

/* line 10, ../scss/_bootstrap.min.scss */
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
  line-height: 0; }

/* line 11, ../scss/_bootstrap.min.scss */
.clearfix:after {
  clear: both; }

/* line 12, ../scss/_bootstrap.min.scss */
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

/* line 13, ../scss/_bootstrap.min.scss */
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 14, ../scss/_bootstrap.min.scss */
.row {
  margin-left: -20px;
  *zoom: 1; }

/* line 14, ../scss/_bootstrap.min.scss */
.row:before, .row:after {
  display: table;
  content: "";
  line-height: 0; }

/* line 15, ../scss/_bootstrap.min.scss */
.row:after {
  clear: both; }

/* line 16, ../scss/_bootstrap.min.scss */
[class*="span"] {
  float: left;
  min-height: 1px;
  margin-left: 20px; }

/* line 17, ../scss/_bootstrap.min.scss */
.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
  width: 940px; }

/* line 18, ../scss/_bootstrap.min.scss */
.span12 {
  width: 940px; }

/* line 19, ../scss/_bootstrap.min.scss */
.span11 {
  width: 860px; }

/* line 20, ../scss/_bootstrap.min.scss */
.span10 {
  width: 780px; }

/* line 21, ../scss/_bootstrap.min.scss */
.span9 {
  width: 700px; }

/* line 22, ../scss/_bootstrap.min.scss */
.span8 {
  width: 620px; }

/* line 23, ../scss/_bootstrap.min.scss */
.span7 {
  width: 540px; }

/* line 24, ../scss/_bootstrap.min.scss */
.span6 {
  width: 460px; }

/* line 25, ../scss/_bootstrap.min.scss */
.span5 {
  width: 380px; }

/* line 26, ../scss/_bootstrap.min.scss */
.span4 {
  width: 300px; }

/* line 27, ../scss/_bootstrap.min.scss */
.span3 {
  width: 220px; }

/* line 28, ../scss/_bootstrap.min.scss */
.span2 {
  width: 140px; }

/* line 29, ../scss/_bootstrap.min.scss */
.span1 {
  width: 60px; }

/* line 30, ../scss/_bootstrap.min.scss */
.offset12 {
  margin-left: 980px; }

/* line 31, ../scss/_bootstrap.min.scss */
.offset11 {
  margin-left: 900px; }

/* line 32, ../scss/_bootstrap.min.scss */
.offset10 {
  margin-left: 820px; }

/* line 33, ../scss/_bootstrap.min.scss */
.offset9 {
  margin-left: 740px; }

/* line 34, ../scss/_bootstrap.min.scss */
.offset8 {
  margin-left: 660px; }

/* line 35, ../scss/_bootstrap.min.scss */
.offset7 {
  margin-left: 580px; }

/* line 36, ../scss/_bootstrap.min.scss */
.offset6 {
  margin-left: 500px; }

/* line 37, ../scss/_bootstrap.min.scss */
.offset5 {
  margin-left: 420px; }

/* line 38, ../scss/_bootstrap.min.scss */
.offset4 {
  margin-left: 340px; }

/* line 39, ../scss/_bootstrap.min.scss */
.offset3 {
  margin-left: 260px; }

/* line 40, ../scss/_bootstrap.min.scss */
.offset2 {
  margin-left: 180px; }

/* line 41, ../scss/_bootstrap.min.scss */
.offset1 {
  margin-left: 100px; }

/* line 42, ../scss/_bootstrap.min.scss */
.row-fluid {
  width: 100%;
  *zoom: 1; }

/* line 42, ../scss/_bootstrap.min.scss */
.row-fluid:before, .row-fluid:after {
  display: table;
  content: "";
  line-height: 0; }

/* line 43, ../scss/_bootstrap.min.scss */
.row-fluid:after {
  clear: both; }

/* line 44, ../scss/_bootstrap.min.scss */
.row-fluid [class*="span"] {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-left: 2.127659574468085%;
  *margin-left: 2.074468085106383%; }

/* line 45, ../scss/_bootstrap.min.scss */
.row-fluid [class*="span"]:first-child {
  margin-left: 0; }

/* line 46, ../scss/_bootstrap.min.scss */
.row-fluid .controls-row [class*="span"] + [class*="span"] {
  margin-left: 2.127659574468085%; }

/* line 47, ../scss/_bootstrap.min.scss */
.row-fluid .span12 {
  width: 100%;
  *width: 99.94680851063829%; }

/* line 48, ../scss/_bootstrap.min.scss */
.row-fluid .span11 {
  width: 91.48936170212765%;
  *width: 91.43617021276594%; }

/* line 49, ../scss/_bootstrap.min.scss */
.row-fluid .span10 {
  width: 82.97872340425532%;
  *width: 82.92553191489361%; }

/* line 50, ../scss/_bootstrap.min.scss */
.row-fluid .span9 {
  width: 74.46808510638297%;
  *width: 74.41489361702126%; }

/* line 51, ../scss/_bootstrap.min.scss */
.row-fluid .span8 {
  width: 65.95744680851064%;
  *width: 65.90425531914893%; }

/* line 52, ../scss/_bootstrap.min.scss */
.row-fluid .span7 {
  width: 57.44680851063829%;
  *width: 57.39361702127659%; }

/* line 53, ../scss/_bootstrap.min.scss */
.row-fluid .span6 {
  width: 48.93617021276595%;
  *width: 48.88297872340425%; }

/* line 54, ../scss/_bootstrap.min.scss */
.row-fluid .span5 {
  width: 40.42553191489362%;
  *width: 40.37234042553192%; }

/* line 55, ../scss/_bootstrap.min.scss */
.row-fluid .span4 {
  width: 31.914893617021278%;
  *width: 31.861702127659576%; }

/* line 56, ../scss/_bootstrap.min.scss */
.row-fluid .span3 {
  width: 23.404255319148934%;
  *width: 23.351063829787233%; }

/* line 57, ../scss/_bootstrap.min.scss */
.row-fluid .span2 {
  width: 14.893617021276595%;
  *width: 14.840425531914894%; }

/* line 58, ../scss/_bootstrap.min.scss */
.row-fluid .span1 {
  width: 6.382978723404255%;
  *width: 6.329787234042553%; }

/* line 59, ../scss/_bootstrap.min.scss */
.row-fluid .offset12 {
  margin-left: 104.25531914893617%;
  *margin-left: 104.14893617021275%; }

/* line 60, ../scss/_bootstrap.min.scss */
.row-fluid .offset12:first-child {
  margin-left: 102.12765957446808%;
  *margin-left: 102.02127659574467%; }

/* line 61, ../scss/_bootstrap.min.scss */
.row-fluid .offset11 {
  margin-left: 95.74468085106382%;
  *margin-left: 95.6382978723404%; }

/* line 62, ../scss/_bootstrap.min.scss */
.row-fluid .offset11:first-child {
  margin-left: 93.61702127659574%;
  *margin-left: 93.51063829787232%; }

/* line 63, ../scss/_bootstrap.min.scss */
.row-fluid .offset10 {
  margin-left: 87.23404255319149%;
  *margin-left: 87.12765957446807%; }

/* line 64, ../scss/_bootstrap.min.scss */
.row-fluid .offset10:first-child {
  margin-left: 85.1063829787234%;
  *margin-left: 84.99999999999999%; }

/* line 65, ../scss/_bootstrap.min.scss */
.row-fluid .offset9 {
  margin-left: 78.72340425531914%;
  *margin-left: 78.61702127659572%; }

/* line 66, ../scss/_bootstrap.min.scss */
.row-fluid .offset9:first-child {
  margin-left: 76.59574468085106%;
  *margin-left: 76.48936170212764%; }

/* line 67, ../scss/_bootstrap.min.scss */
.row-fluid .offset8 {
  margin-left: 70.2127659574468%;
  *margin-left: 70.10638297872339%; }

/* line 68, ../scss/_bootstrap.min.scss */
.row-fluid .offset8:first-child {
  margin-left: 68.08510638297872%;
  *margin-left: 67.9787234042553%; }

/* line 69, ../scss/_bootstrap.min.scss */
.row-fluid .offset7 {
  margin-left: 61.70212765957446%;
  *margin-left: 61.59574468085106%; }

/* line 70, ../scss/_bootstrap.min.scss */
.row-fluid .offset7:first-child {
  margin-left: 59.574468085106375%;
  *margin-left: 59.46808510638297%; }

/* line 71, ../scss/_bootstrap.min.scss */
.row-fluid .offset6 {
  margin-left: 53.191489361702125%;
  *margin-left: 53.085106382978715%; }

/* line 72, ../scss/_bootstrap.min.scss */
.row-fluid .offset6:first-child {
  margin-left: 51.063829787234035%;
  *margin-left: 50.95744680851063%; }

/* line 73, ../scss/_bootstrap.min.scss */
.row-fluid .offset5 {
  margin-left: 44.68085106382979%;
  *margin-left: 44.57446808510638%; }

/* line 74, ../scss/_bootstrap.min.scss */
.row-fluid .offset5:first-child {
  margin-left: 42.5531914893617%;
  *margin-left: 42.4468085106383%; }

/* line 75, ../scss/_bootstrap.min.scss */
.row-fluid .offset4 {
  margin-left: 36.170212765957444%;
  *margin-left: 36.06382978723405%; }

/* line 76, ../scss/_bootstrap.min.scss */
.row-fluid .offset4:first-child {
  margin-left: 34.04255319148936%;
  *margin-left: 33.93617021276596%; }

/* line 77, ../scss/_bootstrap.min.scss */
.row-fluid .offset3 {
  margin-left: 27.659574468085104%;
  *margin-left: 27.5531914893617%; }

/* line 78, ../scss/_bootstrap.min.scss */
.row-fluid .offset3:first-child {
  margin-left: 25.53191489361702%;
  *margin-left: 25.425531914893618%; }

/* line 79, ../scss/_bootstrap.min.scss */
.row-fluid .offset2 {
  margin-left: 19.148936170212764%;
  *margin-left: 19.04255319148936%; }

/* line 80, ../scss/_bootstrap.min.scss */
.row-fluid .offset2:first-child {
  margin-left: 17.02127659574468%;
  *margin-left: 16.914893617021278%; }

/* line 81, ../scss/_bootstrap.min.scss */
.row-fluid .offset1 {
  margin-left: 10.638297872340425%;
  *margin-left: 10.53191489361702%; }

/* line 82, ../scss/_bootstrap.min.scss */
.row-fluid .offset1:first-child {
  margin-left: 8.51063829787234%;
  *margin-left: 8.404255319148938%; }

/* line 83, ../scss/_bootstrap.min.scss */
[class*="span"].hide, .row-fluid [class*="span"].hide {
  display: none; }

/* line 84, ../scss/_bootstrap.min.scss */
[class*="span"].pull-right, .row-fluid [class*="span"].pull-right {
  float: right; }

@-ms-viewport {
  width: device-width; }

/* line 85, ../scss/_bootstrap.min.scss */
.hidden {
  display: none;
  visibility: hidden; }

/* line 86, ../scss/_bootstrap.min.scss */
.visible-phone {
  display: none !important; }

/* line 87, ../scss/_bootstrap.min.scss */
.visible-tablet {
  display: none !important; }

/* line 88, ../scss/_bootstrap.min.scss */
.hidden-desktop {
  display: none !important; }

/* line 89, ../scss/_bootstrap.min.scss */
.visible-desktop {
  display: inherit !important; }

@media (min-width: 768px) and (max-width: 979px) {
  /* line 90, ../scss/_bootstrap.min.scss */
  .hidden-desktop {
    display: inherit !important; }

  /* line 90, ../scss/_bootstrap.min.scss */
  .visible-desktop {
    display: none !important; }

  /* line 90, ../scss/_bootstrap.min.scss */
  .visible-tablet {
    display: inherit !important; }

  /* line 90, ../scss/_bootstrap.min.scss */
  .hidden-tablet {
    display: none !important; } }
@media (max-width: 767px) {
  /* line 90, ../scss/_bootstrap.min.scss */
  .hidden-desktop {
    display: inherit !important; }

  /* line 90, ../scss/_bootstrap.min.scss */
  .visible-desktop {
    display: none !important; }

  /* line 90, ../scss/_bootstrap.min.scss */
  .visible-phone {
    display: inherit !important; }

  /* line 90, ../scss/_bootstrap.min.scss */
  .hidden-phone {
    display: none !important; } }
/* line 90, ../scss/_bootstrap.min.scss */
.visible-print {
  display: none !important; }

@media print {
  /* line 91, ../scss/_bootstrap.min.scss */
  .visible-print {
    display: inherit !important; }

  /* line 91, ../scss/_bootstrap.min.scss */
  .hidden-print {
    display: none !important; } }
@media (max-width: 767px) {
  /* line 91, ../scss/_bootstrap.min.scss */
  body {
    padding-left: 20px;
    padding-right: 20px; }

  /* line 91, ../scss/_bootstrap.min.scss */
  .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
    margin-left: -20px;
    margin-right: -20px; }

  /* line 91, ../scss/_bootstrap.min.scss */
  .container-fluid {
    padding: 0; }

  /* line 91, ../scss/_bootstrap.min.scss */
  .dl-horizontal dt {
    float: none;
    clear: none;
    width: auto;
    text-align: left; }

  /* line 91, ../scss/_bootstrap.min.scss */
  .dl-horizontal dd {
    margin-left: 0; }

  /* line 91, ../scss/_bootstrap.min.scss */
  .container {
    width: auto; }

  /* line 91, ../scss/_bootstrap.min.scss */
  .row-fluid {
    width: 100%; }

  /* line 91, ../scss/_bootstrap.min.scss */
  .row, .thumbnails {
    margin-left: 0; }

  /* line 91, ../scss/_bootstrap.min.scss */
  .thumbnails > li {
    float: none;
    margin-left: 0; }

  /* line 91, ../scss/_bootstrap.min.scss */
  [class*="span"], .uneditable-input[class*="span"], .row-fluid [class*="span"] {
    float: none;
    display: block;
    width: 100%;
    margin-left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  /* line 91, ../scss/_bootstrap.min.scss */
  .span12, .row-fluid .span12 {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  /* line 91, ../scss/_bootstrap.min.scss */
  .row-fluid [class*="offset"]:first-child {
    margin-left: 0; }

  /* line 91, ../scss/_bootstrap.min.scss */
  .input-large, .input-xlarge, .input-xxlarge, input[class*="span"], select[class*="span"], textarea[class*="span"], .uneditable-input {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  /* line 91, ../scss/_bootstrap.min.scss */
  .input-prepend input, .input-append input, .input-prepend input[class*="span"], .input-append input[class*="span"] {
    display: inline-block;
    width: auto; }

  /* line 91, ../scss/_bootstrap.min.scss */
  .controls-row [class*="span"] + [class*="span"] {
    margin-left: 0; }

  /* line 91, ../scss/_bootstrap.min.scss */
  .modal {
    position: fixed;
    top: 20px;
    left: 20px;
    right: 20px;
    width: auto;
    margin: 0; }

  /* line 91, ../scss/_bootstrap.min.scss */
  .modal.fade {
    top: -100px; }

  /* line 91, ../scss/_bootstrap.min.scss */
  .modal.fade.in {
    top: 20px; } }
@media (max-width: 480px) {
  /* line 91, ../scss/_bootstrap.min.scss */
  .nav-collapse {
    -webkit-transform: translate3d(0, 0, 0); }

  /* line 91, ../scss/_bootstrap.min.scss */
  .page-header h1 small {
    display: block;
    line-height: 20px; }

  /* line 91, ../scss/_bootstrap.min.scss */
  input[type="checkbox"], input[type="radio"] {
    border: 1px solid #ccc; }

  /* line 91, ../scss/_bootstrap.min.scss */
  .form-horizontal .control-label {
    float: none;
    width: auto;
    padding-top: 0;
    text-align: left; }

  /* line 91, ../scss/_bootstrap.min.scss */
  .form-horizontal .controls {
    margin-left: 0; }

  /* line 91, ../scss/_bootstrap.min.scss */
  .form-horizontal .control-list {
    padding-top: 0; }

  /* line 91, ../scss/_bootstrap.min.scss */
  .form-horizontal .form-actions {
    padding-left: 10px;
    padding-right: 10px; }

  /* line 91, ../scss/_bootstrap.min.scss */
  .media .pull-left, .media .pull-right {
    float: none;
    display: block;
    margin-bottom: 10px; }

  /* line 91, ../scss/_bootstrap.min.scss */
  .media-object {
    margin-right: 0;
    margin-left: 0; }

  /* line 91, ../scss/_bootstrap.min.scss */
  .modal {
    top: 10px;
    left: 10px;
    right: 10px; }

  /* line 91, ../scss/_bootstrap.min.scss */
  .modal-header .close {
    padding: 10px;
    margin: -10px; }

  /* line 91, ../scss/_bootstrap.min.scss */
  .carousel-caption {
    position: static; } }
/* line 7, ../scss/app.scss */
html, body {
  background: #faf6de;
  color: #544c4a; }

/* line 12, ../scss/app.scss */
section {
  max-width: 960px;
  margin: 0 auto 20px auto;
  padding: 20px;
  background: white;
  -webkit-box-shadow: 0 0 5px 5px rgba(235, 231, 206, 0.6);
  -moz-box-shadow: 0 0 5px 5px rgba(235, 231, 206, 0.6);
  box-shadow: 0 0 5px 5px rgba(235, 231, 206, 0.6); }

/* line 21, ../scss/app.scss */
.row-fluid {
  margin-bottom: 20px; }
  /* line 23, ../scss/app.scss */
  .row-fluid.row-header {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px; }

/* line 30, ../scss/app.scss */
.btn {
  position: relative;
  padding: 4px 16px;
  margin: 0 10px 0 0;
  text-align: center;
  color: white;
  font: bold 13px/18px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  text-transform: capitalize;
  letter-spacing: 1px;
  border: 1px solid #ccc;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px; }
  /* line 43, ../scss/app.scss */
  .btn.btn-blue {
    background-color: #0088cc;
    *zoom: 1;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF0088CC', endColorstr='#FF0044CC');
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwODhjYyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwNDRjYyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0088cc), color-stop(100%, #0044cc));
    background-image: -webkit-linear-gradient(top, #0088cc 0%, #0044cc 100%);
    background-image: -moz-linear-gradient(top, #0088cc 0%, #0044cc 100%);
    background-image: -o-linear-gradient(top, #0088cc 0%, #0044cc 100%);
    background-image: linear-gradient(top, #0088cc 0%, #0044cc 100%);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); }
    /* line 10, ../scss/_mixins.scss */
    .btn.btn-blue:hover {
      background: #0044cc; }
    /* line 11, ../scss/_mixins.scss */
    .btn.btn-blue.btn-hard-stop {
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
      border-radius: 0;
      background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwODhjYyIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjMDA4OGNjIi8+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiMwMDQ0Y2MiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDQ0Y2MiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
      background-size: 100%;
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0088cc), color-stop(50%, #0088cc), color-stop(50%, #0044cc), color-stop(100%, #0044cc));
      background-image: -webkit-linear-gradient(top, #0088cc 0%, #0088cc 50%, #0044cc 50%, #0044cc 100%);
      background-image: -moz-linear-gradient(top, #0088cc 0%, #0088cc 50%, #0044cc 50%, #0044cc 100%);
      background-image: -o-linear-gradient(top, #0088cc 0%, #0088cc 50%, #0044cc 50%, #0044cc 100%);
      background-image: linear-gradient(top, #0088cc 0%, #0088cc 50%, #0044cc 50%, #0044cc 100%); }
      /* line 14, ../scss/_mixins.scss */
      .btn.btn-blue.btn-hard-stop:hover {
        background: #0044cc; }
  /* line 44, ../scss/app.scss */
  .btn.full-wide {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  /* line 48, ../scss/app.scss */
  .btn.right-arrow {
    padding: 4px 26px 4px 16px; }
    /* line 50, ../scss/app.scss */
    .btn.right-arrow:after {
      position: absolute;
      top: 15%;
      right: 10px;
      display: block;
      width: 10px;
      height: 15px;
      background: url(img/glyphicons-halflings-white.png) -458px -70px no-repeat;
      content: ''; }
  /* line 61, ../scss/app.scss */
  .btn.btn-large {
    padding: 14px 16px 14px 16px;
    font-size: 16px; }
    /* line 64, ../scss/app.scss */
    .btn.btn-large.right-arrow {
      padding: 14px 26px 14px 16px; }
      /* line 66, ../scss/app.scss */
      .btn.btn-large.right-arrow:after {
        top: 30%; }
